a:hover {
    background-color: #f0f0f0;
}

.container {
    margin-top: 20px;
}

h2 {
    width: 50%;
    margin: auto;
}

h1 {
    margin: 25px 0px;
}

table {
    margin-top: 10px;
}

thead {
    background-color: grey;
}