.jumbotron {
    background-image: url('../img/popcorn.jpeg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}

body {
    background-color: #5A3244;
}

.navbar {
    background-color: goldenrod;
}

h1 {
    color: #fff;
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
}

#top{
    padding-top: 29%;
}

.main {
    margin-top: 0px;
    padding-top: 197px;
}

.login {
    width: 75%;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.banner {
    background: #ea9180d9;
    width: 350px;
    height: 350px;
    margin: auto;
    border-radius: 50%;
}

h2 {
    color: #F8F9F8;
    font-family: 'Raleway', monospace;
}

.list-group-item{
    background-color: #78B8A9;
    color: #fff;
}

#dropdownMenuButton{
    background-color: #78B8A9;
    color: #fff;
}
#dropdownMenuButton:hover {
    background-color: #78b8a9d1;
    color: #fff;
}

.list-group-item:hover {
    background-color: #78b8a9d1;
    color: #fff;
}

.custom-nav {
    background-color: #F8F9F8;
}

.custom-nav div {
    background-color: #F8F9F8;
}

.custom-nav a {
    color: #EA9180;
}


.search-btn:hover{
    /* color: #EA9180; */
    border-color: #e5998ad9;
    background-color: #e5998ad9;
}

.search-btn {
    color: #fff;
    background-color: #EA9180;
    border-color: #EA9180;
}

