a {
    color: #D99ABC;
}

a:hover {
    color: #ba88a3;
    text-decoration: none;
}

.container {
    margin-top: 20px;
}

table {
    color: #000;
    border: 1px solid;
    background: white;
}

thead {
    background-color: #EA9180;
    color: #fff;
}

tbody{
    background-color: #fff;
}
/* 
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #F8F9F8;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #fff;
 } */

body {
    background-color: #5A3244;
}

.list-group {
    width: 50%;
    list-style-type: none;
    margin: 25px auto;
    margin-top: 10px;
}

.list-group label {
    color: #fff;
}

h2 {
    width: 50%;
    margin: auto;
    color: #fff;
}

h1 {
    font-family: 'Bungee Shade', sans-serif;
    color: #F8F9F8;
    padding: 10px;
}

i {
    padding-right: 10px;
}

.list-group-item:hover {
    background-color: #78b8a9d1;
    color: #fff;
    /* width: 50%; */
}

.list-group-item{
    background-color: #78B8A9;
    color: #fff;
    /* width: 50%; */
}

.banner {
    background: #ea9180d9;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.content {
    color: #fff;
}


#dropdownMenuButton{
    background-color: #78B8A9;
    color: #fff;
    /* width: 50%; */
}
#dropdownMenuButton:hover {
    background-color: #78b8a9d1;
    color: #fff;
    /* width: 50%; */
}

.custom-nav {
    background-color: #F8F9F8;
}

.custom-nav div {
    background-color: #F8F9F8;
}

.custom-nav a {
    /* background-color: #D99ABC; */
    color: #EA9180;
}

#search-btn:hover{
    /* color: #EA9180; */
    border-color: #e5998ad9;
    background-color: #e5998ad9;
}

#search-btn {
    color: #fff;
    background-color: #EA9180;
    border-color: #EA9180;
}

.btn{
    background-color: #F8F9F8;
    color: #EA9180;
    margin: 3px;
}

.btn:hover{
    background-color: #EA9180;
    color: #F8F9F8;
}

p, h4 {
    color: #fff;
}