<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create a new auction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<style>
    a:hover {
        background-color: #f0f0f0;
    }

    .list-group {
        width: 50%;
        list-style-type: none;
        margin: 25px auto;
    }

    h2 {
        width: 50%;
        margin: auto;
    }

    h1 {
        margin: 25px 0px;
    }

    #media_form {
        display: none;
    }

    #choose_media {
        /* display: none; */
    }
</style>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">AuctionMTV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Auctions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../auction/by_title.html">By Title</a>
                        <a class="dropdown-item disabled" href="#">By Category</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <p>&nbsp;&nbsp;</p>
            </form>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    John Doe
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="../user_dash/index.html">Dashboard</a>
                    <a class="dropdown-item" href="#">Account</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </div>

    </nav>
    <div class="list-group container">
        <h3>Create a new auction</h3>
        <form action="/auction/process_auc" , method="POST" , id="auction_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="Title">Title:</label>
                <input type="text" class="form-control" placeholder="Title" name="title">
            </div>
            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea class="form-control" rows="3" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="Duration">Duration (in seconds):</label>
                <input type="number" class="form-control" placeholder="ex. 20 second promo" name="duration">
            </div>
            <div class="form-group">
                <label for="">Category</label>
                <select class="form-control" id="" name="category">
                    <option value="food">Food</option>
                    <option value="drink">Drink</option>
                    <option value="mobile">Mobile</option>
                    <option value="laptop">Laptop</option>
                    <option value="clothing">Clothing</option>
                    <option value="electronics">Electronics</option>
                    <option value="homeware">Homeware</option>
                    <option value="furniture">Furniture</option>
                    <option value="skincare">Skincare</option>
                    <option value- "other">Other/Misc</option>
                </select>
            </div>
            <div class="form-group">
                <label for="starting_bid">Starting Bid:</label>
                <input type="text" class="form-control" placeholder="ex. $99.99" name="starting_bid">
            </div>

            <div class="form-group">
                <!-- <input type="hidden" name="user_id" value="request.session['id]"> -->
                <input type="submit" class="btn btn-primary" id="save_auction" value="Create Auction">
            </div>
        </form>
    </div>
    <div class="list-group container" id="choose_media">
        <h3>Existing Media</h3>
        <div class="form-group">
            <label for="">Movie/TV Show:</label>
            <select class="form-control" id="" name="media">
                <option>Avengers: Infinity War</option>
                <option>Black Panther</option>
                <option>Aladdin</option>
                <option>Hercules</option>
            </select>
        </div>
    </div>
    <div class="form-group text-center">
        <p class="">Don't see your movie/TV show on the list?</p>
        <button class="btn btn-primary" id="button_media">Create one below:</button>
        <div id="media_form">
            <div class="list-group">
                <form action="/auction/process_med" , method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="Media_Title">Title:</label>
                        <input type="text" class="form-control" placeholder="Media_Title" name="media_title">
                    </div>
                    <div class="form-group">
                        <label for="Genre">Genre:</label>
                        <input type="text" class="form-control" placeholder="Title" name="genre">
                    </div>
                    <div class="form-group">
                        <label for="Release_year">Release Year</label>
                        <input type="text" class="form-control" placeholder="ex. 20 second promo" name="release_year">
                    </div>
                    <div class="form-group">
                        <label for="">Media Type</label>
                        <select class="form-control" id="" name="media_type">
                            <option value="movie">Movie</option>
                            <option value="tv">TV</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary" id="add_media" value="Add new media source">
                </form>
            </div>
        </div>
    </div>
    {% if messages %}
    <h3>Oops!</h3>
    <p>We need all fields filled before continuing:</p>
    {% for i in messages %}
    <ul>
        <li>{{ i }}</li>
    </ul>
    {% endfor %} {% endif %}
    <p>

        <script>
            $('#button_media').click(function () {
                console.log('hi you pressed the add media button');
                $('#media_form').fadeIn('slow');
            });

            $('#add_media').click(function () {
                $('#media_form').fadeOut('slow');
            });

            // $('#auction_form').submit(function(e){
            //     e.preventDefault()
            // });

            $('#save_auction').submit(function () {
                console.log('hi you pressed the add media button');
                $('#choose_media').fadeIn('slow');
            });

        </script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous">
            </script>



</body>

</html>