<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AuctionMTV</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'user_dash/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'auction/css/index.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">AuctionMTV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Auctions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="by_title">By Title</a>
                        <a class="dropdown-item" href="by_categ">By Category</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <p>&nbsp;&nbsp;</p>
            </form>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{ user.first_name}} {{user.last_name}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/user_dash/index">Dashboard</a>
                    <a class="dropdown-item" href="#">Account</a>
                    <a class="dropdown-item" href="/login_reg/logout">Log out</a>
                </div>
            </div>
            </div>
    </nav>
    <div class="main jumbotron text-center">
        <div class="banner">
            <h1>AuctionMTV</h1>
        </div>        
    </div>
    <div class="login container text-center">
        <div class="row">
            <div class="col-md-6">
                <h2>Movies</h2>
                <ul class="list-group">
                    <li>
                        <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Titles
                            <span class="badge badge-primary badge-pill">10</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item d-flex justify-content-between align-items-center">Auctions
                            <span class="badge badge-primary badge-pill">20</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Television Shows</h2>
                <ul class="list-group">
                    <li>
                        <a href="by_title" class="list-group-item d-flex justify-content-between align-items-center">Titles
                            <span class="badge badge-primary badge-pill">20</span>
                        </a>
                    </li>
                    <li>
                        <a href="by_title" class="list-group-item d-flex justify-content-between align-items-center">Auctions
                            <span class="badge badge-primary badge-pill">10</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'user_dash/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user_dash/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user_dash/js/bootstrap.min.js' %}"></script>
</body>

</html>